@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.progress .bg-success {
  background-color: #ffb400 !important;
}
.border-row {
  padding: 1rem 0;
}
.border-row:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.158);
}

.progress {
  height: 0.8rem;
  padding: 0.125rem;
  border: 1px solid #ffb400;
  background-color: #fff;
}
.progress-bar {
  background-color: #ffb400;
}
.divider_span {
  border-top: 0.17rem solid #80808053;
  width: 90%;
  margin: auto;
}
.download_btn {
  background-color: #ffb400;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
}

.required {
  border: 1px solid #ffb400;
}
